@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sail&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    /*********************** Web site colors ********************/
    /* Brands colors */
    --color-primary-100: #E9E5F8;
    --color-primary-200: #D4CCF1;
    --color-primary-300: #AEA5D5;
    --color-primary-400: #847BAC;
    --color-primary-500: #504975;
    --color-primary-600: #3C3564;
    --color-primary-700: #2A2454;
    --color-primary-800: #1C1743;
    --color-primary-900: #110E38;

    --color-secondary-100: #F4FBF1;
    --color-secondary-200: #E9F7E5;
    --color-secondary-300: #D2E9CF;
    --color-secondary-400: #B7D4B6;
    --color-secondary-500: #95B896;
    --color-secondary-600: #6C9E72;
    --color-secondary-700: #4B8456;
    --color-secondary-800: #2F6A40;
    --color-secondary-900: #1C5833;

    --color-accent-100: #FEEECC;
    --color-accent-200: #FED79B;
    --color-accent-300: #FDBB68;
    --color-accent-400: #FB9F43;
    --color-accent-500: #F97306;
    --color-accent-600: #D65704;
    --color-accent-700: #B33E03;
    --color-accent-800: #902A01;
    --color-accent-900: #771C01;

    --color-neutral-100: #F4F4F4;
    --color-neutral-200: #EAEAEA;
    --color-neutral-300: #C1C1C1;
    --color-neutral-400: #848484;
    --color-neutral-500: #333333;
    --color-neutral-600: #2B2525;
    --color-neutral-700: #24191B;
    --color-neutral-800: #1D1013;
    --color-neutral-900: #18090E;

    /* Steps sizes font */
    --ff: 'Manrope', serif;
    --headings: "Zilla Slab", serif;
    --step--3: clamp(0.64rem, 0.6549rem + -0.0192vw, 0.651rem);
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
    --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);

    /* Spacing */
    --space-xxs: .25rem;
    --space-xs: .5rem;
    --space-s: .75rem;
    --space-m: 1rem;
    --space-l: 1.25rem;
    --space-xl: 1.75rem;
    --space-xxl: 2.5rem;
    /* Utilities */
    --transition: 0.3s ease-in-out;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    font-size: var(--step-0);
    font-family: var(--ff);
    min-height: 100vh;
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-200);
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
h1{
    font-size: var(--step-5);
    margin-block: var(--space-m);
}
h2{
    font-size: var(--step-4);
    margin-block: var(--space-s);
}
h3{
    font-size: var(--step-3);
    margin-block: var(--space-xs);  
}
:is(h1, h2, h3){
    text-wrap: balance;
    color: var(--color-neutral-200);
    line-height: 1.2;
    font-family: var(--headings);
}
p{
    font: var(--step-0);
    margin-bottom: var(--space-xs);
    text-wrap: pretty;
    line-height: 1.6;
}
/* Containers */
/* Mobile container utility class: */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}
/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}
/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
/* Utilidades */
.section{
    padding-block: var(--space-xxl);
    & h2{
        font-size: var(--step-4);
        & span{
            display: block;
        }
    }
}
.fw-bold{
    font-weight: bold;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: var(--space-l);
}
.ratio-m{
    aspect-ratio: 3 / 4;
    object-fit: cover;
    height: 100%;
    max-height: 30rem;
}
.mt-xxl{
    margin-top: var(--space-xxl);
}
.mx-auto{
    margin-inline: auto;
}
.text-center{
    text-align: center;
}
.bg-blue{
    background-color: var(--color-primary-900);
}
.bg-dark{
    background-color: #151212;
}
.btn{
    min-height: 30px;
    padding: var(--space-s) var(--space-m);
    border: 1px solid transparent;
    background-color: transparent;
    min-width: 200px;
    font-size: var(--step-1);
    font-weight: 600;
    transition: background-color var(--transition), color var(--transition);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100vw;
}
.btn-primary{
    background-color: var(--color-accent-500);
    color: var(--color-neutral-100);
    &:hover{
        background-color: var(--color-accent-700);
        color: var(--color-neutral-200);
    }
}
/* Menu styles */
.menu{
    background-color: transparent;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__logo{
    max-width: 100px;
}
.menu__brand{
    text-decoration: none;
    color: var(--color-neutral-200);
    display: flex;
    align-items: center;
    font-size: var(--step-3);
    font-family: var(--headings);
}
.menu__right{
    display: flex;
    column-gap: 2rem;
    align-items: center;
    color: var(--color-neutral-200);
    padding: var(--space-s);
    position: relative;
    border-radius: var(--space-s);
}
.menu__head {
    text-decoration: none;
    color: var(--color-neutral-200);
    font-size: var(--step-1);
    font-weight: 300;
}
.menu__head:hover{
    color: var(--color-accent-500);
    cursor: pointer;
}
.menu__right button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.menu__sub {
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 1;
    width: 200px;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--color-neutral-900);
    border-radius: 2mm;
    box-shadow: rgba(0, 0, 0, 0.27) 0px 15px 38px,
      rgba(0, 0, 0, 0.2) 0px 10px 12px;
}
.menu__sub__item {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--color-neutral-100);
    font-weight: 600;
    padding: 10px 0;
}
.menu__sub__item:hover {
    background: var(--color-primary-500);
    color: var(--color-neutral-200);
    cursor: pointer;
}
.menu__sub__item {
    display: none;
}
@media only screen and (max-width: 768px) {
    .menu__head {
        display: none;
    }
    .menu__sub__item {
        display: block;
    }
    .menu__right button{
        display: flex;
    }
    .menu{
        width: 100%;
    }
}
.header{
    display: grid;
    background-image: url('../assets/images/header.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    border-image: 1 fill linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.9));
    /* border-image: 1 fill radial-gradient(ellipse at center, rgba(0,0,0,0.1), rgba(0,0,0,0.9)); */
}
.header__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--space-xl);
}
.header__title{
    text-align: center;
    font-size: var(--step-6);
    & span{
        display: block;
    }
}
.header__text{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-neutral-300);
    font-size: var(--step-1);
}
.main{
    background-color: var(--color-neutral-100);
    background-image: url('../assets/images/pumpkin.png');
    background-repeat: no-repeat;
    background-position: 20px 10px;
    background-size: 70px;
}
@media (min-width: 1175px){ 
    .main{
        background-position: calc(100% - 20px) calc(100% - 20px);
        background-size: 150px;
    }
}
.main__title{
    color: var(--color-primary-700);
    text-align: center;
    font-weight: 900;
}
.main__text{
    color: var(--color-neutral-400);
    text-align: center;
    font-size: var(--step-1);
    max-width: 900px;
    margin: 0 auto;
}
.grid-mirror{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%),  1fr));
    gap: var(--space-xl)
}
.text-gray{
    color: var(--color-neutral-400);
}
.spider-web-decoration{
    background-image: url('../assets/images/spider-web.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-image: 1 fill linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1));
}
.timer{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--space-s);
    width: min(95%, 40rem);
    margin-inline: auto;
    margin-block: 3rem;
}
.timer__square{
    border-radius: var(--space-xs);
    background-color: var(--color-neutral-900);
    background: linear-gradient(120deg, var(--color-neutral-700), var(--color-neutral-900));
    display: grid;
    place-items: center;
    position: relative;
}
.timer__square::after{
    content: attr(data-label);
    position: absolute;
    bottom: -2rem;
    font-size: var(--step--2);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.timer__num{
    margin-bottom: 0;
    font-weight: 900;
    font-size: var(--step-5);
    color: var(--color-accent-600);
    font-family: var(--headings);
}
.mist-mask{
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.location{
    display: grid;
    row-gap: var(--space-xxl);
}
.location iframe{
    width: 100%;
}
@media (min-width: 768px){ 
    .location{
        grid-template-columns: 35% 65%;
    }
}